body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

form {
    margin: 20px auto;
    width: 300px;
}

input, button {
    padding: 10px;
    margin: 5px;
    width: 100%;
}
